<div class="home-container">

  <div class="overlay">

    <h1>🎬 Informacioni sistem za bioskop</h1>
    <p>Upravljanje bioskopima, salama, filmovima i rezervacijama</p>

    <div class="menu">

      <button mat-raised-button color="primary" (click)="go('bioskopi')">
        <mat-icon>theaters</mat-icon>
        Bioskopi
      </button>

      <button mat-raised-button color="primary" (click)="go('sale')">
        <mat-icon>event_seat</mat-icon>
        Sale
      </button>

      <button mat-raised-button color="primary" (click)="go('filmovi')">
        <mat-icon>movie</mat-icon>
        Filmovi
      </button>

      <button mat-raised-button color="primary" (click)="go('rezervacije')">
        <mat-icon>assignment</mat-icon>
        Rezervacije
      </button>

    </div>

  </div>

</div>
